footer {
	position: absolute;
	width: 100%;
	height: auto;
}

footer ul li {
	display: inline-block;
	list-style: none;
	padding: 2%;
	float: right;
}

footer p {
	float: left;
	padding: 2%;
}

footer a,
footer p {
	color:#fff;
	vertical-align: middle;
}

.jumbotron {
	background-image:url('https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiF9oeWusPeAhXL2VMKHezzBL4QjRx6BAgBEAU&url=https%3A%2F%2Fwww.washingtonpost.com%2Fbusiness%2F2018%2F07%2F10%2Fhow-much-money-do-you-really-need-feel-rich%2F&psig=AOvVaw3ha9FqdWKEswItU0XGsP2x&ust=1541720390727115');
	padding: 20%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin-top: -40px;
}

.jumbotron h1 {
	position: absolute;
	top:18;
	left:0;
	padding-center: 20px;
	color: blue;
}
